.journalism-headline {
  color: #c3170c;
}
.oglobo-headline {
  color: #1e4b9b;
}
.value-headline {
  color: #006766;
}
.sports-headline {
  color: #07aa47;
}
.cartola-headline {
  color: #e3662b;
}
.globoplay-headline {
  color: #fb0735;
}
.dropz-headline {
  color: #ff75bb;
}
.gshow-headline {
  color: #ec7d00;
}
.quem-headline {
  color: #323333;
}
.recipes-headline {
  color: #a81d83;
}
